/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis das cores */
:root {
    --cor-preta: #000;
    --cor-branca: white;
    --cor-vermelha: red;
    --cor-amarela: yellow;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
}


/* Inicio área header */
header {
    height: 120px;
    background-color: rgb(0, 0, 0);



}

/* Espaço do menu */
.header {
    max-width: 1140px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;


}

/* Área do logo */
.logo {
    width: 100px;

}

.logo img {
    width: 200px;
    height: 100px;
}

/* Área do Menu de navegação */
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;


}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 5px;
}

.menu li a:hover {
    color: rgb(191, 191, 189);

}



/* Fim da área header */

/* Inicio área banner */
.banner {
    height: calc(100vh - 120px);
    background-color: #333;
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.7);
}

.banner .slidearea {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: white;

}

/* Área do titulo e das imagens das marcas */
.slideTitle {
    display: flex;
    gap: 50px;
}

/* Titulo principal */
.banner h1 {
    color: rgb(247, 247, 240);
    font-size: 70px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}

.banner h1 span {
    font-size: 50px;
    font-weight: 200;
}


/* Área dos icones de serviço  */

.banner .slidearea .slideService {
    min-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    top: 150px;
    position: relative;
}

.slideIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

/* Icones de serviço */
.banner .slidearea .slideImgs img {
    height: 150px;

}

.banner .slidearea .slideService img {
    width: 100px;
    cursor: pointer;
}

.section-servicos {
    width: 100%;
}
.section-servicos .title{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.section-servicos .title h2{
    font-size: 70px;
}

.section-servicos .title p{
    font-size: 30px;
}


.servicos{
    padding-left: 5%;
    padding-right: 5%;
}

.servIcons {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servIcon {
    text-align: center;
    width: 350px;
    height: 250px;
}
.servIcon img{
    width: 120px;  
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
    border-radius: 50%;
}

.servIcon h4{
    margin-top: 10px;
    font-size: 20px;
}

.servContato{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    height: 250px;
    background-color: #888;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}





























/* botao whatzap */
.btn-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}